<p id="notice"><%= notice %></p>
<b><%= @feeds.channel.title %></b>
<p> <%= @feeds.channel.description %></p>
<ul>
<% @feeds.items.each do |f| %>
<li>
  <span><a href=<%= f.link%>><%= f.title %></a></span>
  <span> <%= URI.unescape(f.description).html_safe %> </span>
  <span><%= sentiments(text_content(f.link)) %></span>
  <span><%= textmoods(text_content(f.link)) %></span>
</li>
<% end %>
</ul>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
