<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>
<% @feeds.each do |f| %>
<p>
<a href=<%= f.link%>><%= f.title %></a>
</p>
<% end %>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
