<div class='container'>
  <div class='one-container'>
    <div>
      <h1>Feeds</h1>
      <div>
        <% @feeds.each do |feed| %>
          <p>
            <b><%= feed.title %></b>
          </p>
        <% end %>
      </div> 
    </div>
  </div>
  <div class='two-container'>
    <h1>Articles</h1>
    <div class='one'>
      <h2>Good</h2>
      <ul>
        <% @positive.each do |article| %>
          <li>
            <a href=<%= article.link %> target='_blank'><%= article.title %></a>
            <p>
              <%= URI.unescape(article.description).html_safe %>
            </p>
          </li>
        <% end %>
      </ul> 
    </div>
    <div class='two'>
      <h2>Not so good</h2>  
      <ul>
        <% @neutral.each do |article| %>
          <li>
            <a href=<%= article.link %>><%= article.title %></a>
            <p>
              <%= URI.unescape(article.description).html_safe %>
            </p>
          </li>
        <% end %>
      </ul> 
    </div> 
    <div class='three'>
      <h2>Bad</h2>
      <ul>
        <% @negative.each do |article| %>
          <li>
            <a href=<%= article.link %>><%= article.title %></a>
            <p>
              <%= URI.unescape(article.description).html_safe %>
            </p>
          </li>
        <% end %>
      </ul> 
    </div>         
  </div>
</div>


